*{
    margin: 0;
    padding: 0;
}

#encabezado{
    width: 1330px;
    height: 80px;
    max-width: 2048px;
    margin: 0 10px 0 10px;
    background: url("../imagenes/encabezados/catalogo.png");
}

#cuerpo{
    width: 1330px;
    height: 820px;
    max-width: 2048px;
    margin: 5px 10px 5px 10px;
    /*background: #ffff80;*/
}
#cuerpo iframe{
    position: relative;
    bottom: -15px;
    right: -255px;
    border: none;
    /*border:  solid thin #ffffff;*/
}

#pie{
    width: 1330px;
    height: 90px;
    max-width: 2048px;
    margin: 0px 10px 0px 10px;
    background: #ffc6e2;
}


