#izquierdo{
    width: 250px;
    float: left;
    background: #ff0000;
    position: relative;
    right: -175px;
    /*top: -780px;*/
    margin: 8px 10px;
    height: 0px;
}

#cmi{
    margin: 0 7px;
    position: relative;
    top: 40px;
    right: -2px;
}

#cmi ul{
    list-style: none;
}

#cmi #lat li a{
    display: block;
    padding: 10px;
    background: #80ffff;
    color: #000000;
    
}

#cmi #lat li a:hover{
    color: #ff0000;
    background: #b66cff;
    
}

#cmi #lat .icono{
    font-size: 15px;
    line-height: 10px;
}

#cmi #lat .icono.izquierda{
    float: left;
    margin-right: 15px;
}

#cmi #lat .icono.derecha{
    float: right;
    margin-left: 10px;
}

#cmi #lat ul{
    display: none;
}

#cmi #lat ul li a{
    background: #d3d3d3;
    color:#0080c0;
}

#cmi ul a{ 
    text-decoration: none;
}

#cmi #lat .activado > a{
    background: #ff8000;
    color:#ffffff;
}

#cmi ul#lat > li{
    margin: 25px 0px 0 0;
    /*background: #ffff80;*/
}

#cmi ul#lat li ul{ 
    /*background: #00ff00;*/
}
