*{
    margin: 0;
    padding: 0;
}

.obj1{
    background: transparent url("antivirus.png") no-repeat;
    width: 165px;
    height: 180px;
    display: block;
}

.a1{
    background-position: -76px -47px;
    position: relative;
    bottom: -50px;
    right: -65px;
}

.a2{
    background-position: -455px -47px;
    position: relative;
    right: -420px;
    top: -135px;
}

.a3{
    background-position: -64px -355px;
    position: relative;
    top: -10px;
    right: -65px;
}

.a4{
    background-position: -400px -317px;
    width: 200px;
    position: relative;
    right: -360px;
    top: -215px;
}

.a5{
    background-position: -275px -525px;
    width: 265px;
    position: relative;
    top: -175px;
    right: -230px;
}

#txt{
    width: 180px;
    height:40px;
    position: relative;
    bottom: -190px;
}

#txt2{
    width: 180px;
    height:40px;
    position: relative;
    bottom: -197px;
    left: -12px;
}

#txt3{
    width: 180px;
    height:40px;
    position: relative;
    bottom: -150px;
}

#txt4{
    width: 180px;
    height:40px;
    position: relative;
    bottom: -185px;
    right: -47px;
}


#txt5{
    width: 180px;
    height:40px;
    position: relative;
    bottom: -185px;
    left: -10px;
}

#txt form input#cmp,input#add{
    position: relative;
    bottom: -10px;
    right: -5px;
}


#rec{
    width: 685px;
    height: 785px;
    position: relative;
    background: #0080c0;
}

#rec a {
    margin: 1em 0;
    float: left;
    clear: left;
}
#rec a.btn {
    text-decoration: none;
    background: #EEE;
    color: #356;
    border: 2px outset #CCC;
    padding: .1em;
}

#rec a.btn:hover {
    cursor: default;
}

#rec a.btn:active {
    border: 1px inset #000;
}

#rec input{
    position: relative;
    bottom: -15px;
}